$super-product-background-height: 600px;

.super-product {
  color: $main-text-color;
  background-repeat: no-repeat;
  background-image: url('../assets/super-product/background.png');

  height: $super-product-background-height;
  display: flex;
  align-items: center;

	&__wrapper {
    display: flex;
    flex-direction: column;

    padding: 215px 0;
	}

  &__main-info {
    display: flex;
    flex-direction: column;

    max-width: 35%;
  }

	&__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__button {
    background: transparent;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    border-color: $primary2;
    color: $main-text-color;
    max-width: 170px;
  }

  &__title,
  &__subtitle {
    margin-bottom: 55px;
  }
}