body {
  display: flex;
  flex-direction: column;
  background: brown; }
  body p {
    font-size: 70px;
    text-align: center; }
  body .btn {
    width: 300px;
    background: black;
    margin: auto;
    color: white;
    font-size: 40px; }
